@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  
  --color-primary: #0079BF;
  --color-secondary: #F2D600;
  --color-background: #ffffff;
  --color-foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  @theme inline {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
